[Interface]
PrivateKey = {{ wg_key.stdout }}
Address = {{ mywg_subnet }}
ListenPort = {{ mywg_port }}
SaveConfig = true

{% for peer in mywg_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}

{% endfor %}
